/* Base style */
*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  background-color: #fff;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: 'Roboto', serif;
  padding-bottom: 32px;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  min-height: 100vh;
}
